#footer {
  .footer-wrapper {
    background-color: #fff;
    .footer-top {
      @include flex;
      align-items: start;
      justify-content: space-around;
      // background: red;
      padding: 50px 0px;
      border-bottom: 1px solid #000;
      @include devices(md){
        flex-direction: column ;
      }
      .footer-logo{
        img{
          max-width: 200px;
          width: 100%;
          @include devices(md) {
            max-width: 170px;
          }
          @include devices(mmd) {
            max-width: 150px;
          }
          @include devices(ssm) {
            max-width: 130px;
          }
        }
        p{
            font-size: 16px;
            font-weight: 300;
            color: #000;
            max-width: 220px;
            width: 100%;
        }
      }
      .content {
        margin-top: 30px;
        @include devices(sm){
          margin-top: 15px;
          
        }
        ul {
          @include flex;
          align-items: start;
          justify-content: space-around;
          gap: 50px;
          @include devices(sm){
            gap: 20px;
          }
          @include devices(xs){
            gap: 10px;
            flex-wrap: wrap;
            justify-content: start;
          }
          li{
            h3{
                font-size: 18px;
                font-weight: 600;
                color: #000;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #000;
                padding-top: 10px;
            }
            .contact{
                @include flex;
                gap: 10px;
                padding-top: 10px;
                // margin-left: 40px;
                .tel{
                    @include flex;
                    align-items: start;
                    flex-direction: column;
                    .number{
                        font-size: 16px;
                        font-weight: 400;
                        color: #000000;
                    }
                    .telegram{
                        font-size: 14px;
                        font-weight: 700;
                        text-decoration: underline;
                        color:#0078E7;
                        
                    }
                }
            }
            .email{
                padding-top: 10px;
                @include flex;
                gap: 10px;
                a{
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
          }
        }
      }
    }
    .footer-bottom{
      padding: 10px 0px;
      @include flex;
      justify-content: center;
      span{
          font-size:16px;
      }
    }
  }
}
